ipykernel
pandas
numpy
matplotlib
plotly
seaborn
scikit-learn
pymongo
from_root
dill
certifi
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
python-multipart
uvicorn
jinja2
imblearn
-e . #this code helps in installing our local packages in our environment eg. how fastapi package gets installed after doing pip install requirements.txt just like that writing this code installs local packages in our environment.
#this code looks for setup.py file.